@using NorthWNDweb.Models
@model List<SuppliersPO>
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Suppliers</h2>

<table class="table table-striped" style="background-color: lightcyan;">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => Model[0].CompanyName)
            </th>
            <th>
                @Html.LabelFor(model => Model[0].ContactName)
            </th>
            <th>
                @Html.LabelFor(model => Model[0].ContactTitle)
            </th>
            <th>
                @Html.LabelFor(model => Model[0].Address)
            </th>
            <th>
                @Html.LabelFor(model => Model[0].City)
            </th>
            <th>
                @Html.LabelFor(model => Model[0].Region)
            </th>
            <th>
                @Html.LabelFor(model => Model[0].PostalCode)
            </th>
            <th>
                @Html.LabelFor(model => Model[0].Country)
            </th>
            <th>
                @Html.LabelFor(model => Model[0].Phone)
            </th>
            @if ((int)Session["Role"] >= 2)
            {
                <th colspan="2" class="text-center">
                    Actions
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (SuppliersPO Supplier in Model)
        {
            { Html.RenderPartial("_Index", Supplier); }
        }
    </tbody>
</table>