@using NorthWNDweb.Models
@model SupplierProducts
@{
    ViewBag.Title = "SupplierDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Supplier Products</h2>

<div class="center-block">
    <table class="table table-bordered table-striped" style="background-color: lightcyan">
        <thead>
            <tr>
                <th colspan="4" class="text-center" style="font-size:xx-large">
                    Supplier Information
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(model => model.supplier.CompanyName)
                </td>
                <td>
                    <text>@Model.supplier.CompanyName</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.supplier.ContactName)
                </td>
                <td>
                    <text>@Model.supplier.ContactName</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.supplier.ContactTitle)
                </td>
                <td>
                    <text>@Model.supplier.ContactTitle</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.supplier.Address)
                </td>
                <td>
                    <text>@Model.supplier.Address</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.supplier.City)
                </td>
                <td>
                    <text>@Model.supplier.City</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.supplier.Region)
                </td>
                <td>
                    <text>@Model.supplier.Region</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.supplier.PostalCode)
                </td>
                <td>
                    <text>@Model.supplier.PostalCode</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.supplier.Country)
                </td>
                <td>
                    <text>@Model.supplier.Country</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.supplier.Phone)
                </td>
                <td>
                    <text>@Model.supplier.Phone</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.supplier.Fax)
                </td>
                <td>
                    <text>@Model.supplier.Fax</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.supplier.HomePage)
                </td>
                <td>
                    <text>@Model.supplier.HomePage</text>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-12">
        @{
            Html.RenderPartial("_ProductsTable", Model.products);
        }
    </div>
</div>