@using NorthWNDweb.Models
@model SuppliersPO
@{
    ViewBag.Title = "UpdateSupplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Supplier</h2>

@using (Html.BeginForm("UpdateSupplier", "Suppliers", FormMethod.Post))
{
    @Html.HiddenFor(model => Model.SupplierID)

    @Html.LabelFor(model => Model.CompanyName)
    <div>
        @Html.TextBoxFor(model => Model.CompanyName, new { @class = "form-control"})
    </div>

    @Html.LabelFor(model => Model.ContactName)
    <div>
        @Html.TextBoxFor(model => Model.ContactName, new { @class = "form-control" })
    </div>

    @Html.LabelFor(model => Model.ContactTitle)
    <div>
        @Html.TextBoxFor(model => Model.ContactTitle, new { @class = "form-control" })
    </div>

    @Html.LabelFor(model => Model.Address)
    <div>
        @Html.TextBoxFor(model => Model.Address, new { @class = "form-control" })
    </div>

    @Html.LabelFor(model => Model.City)
    <div>
        @Html.TextBoxFor(model => Model.City, new { @class = "form-control" })
    </div>

    @Html.LabelFor(model => Model.Region)
    <div>
        @Html.TextBoxFor(model => Model.Region, new { @class = "form-control" })
    </div>

    @Html.LabelFor(model => Model.PostalCode)
    <div>
        @Html.TextBoxFor(model => Model.PostalCode, new { @class = "form-control" })
    </div>

    @Html.LabelFor(model => Model.Country)
    <div>
        @Html.TextBoxFor(model => Model.Country, new { @class = "form-control" })
    </div>

    @Html.LabelFor(model => Model.Phone)
    <div>
        @Html.TextBoxFor(model => Model.Phone, new { @class = "form-control" })
    </div>

    @Html.LabelFor(model => Model.Fax)
    <div>
        @Html.TextBoxFor(model => Model.Fax, new { @class = "form-control" })
    </div>

    @Html.LabelFor(model => Model.HomePage)
    <div>
        @Html.TextBoxFor(model => Model.HomePage, new { @class = "form-control" })
    </div>
    <br />
    <input type="submit" value="Update" class="btn btn-primary"/>
}










